body {
  background: var(--theme-background);
  color: var(--theme-text);
}

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --user-font-scale: 1rem - 16px;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
  line-height: 1.625;
}

a {
  color: var(--theme-primary);
  font-weight: 400;
  text-underline-offset: 0.08em;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 0.25em;
}

.content h1 {
  font-size: clamp(2.488rem, 1.924rem + 1.41vw, 3.052rem);
  margin-top: 3rem;
}

.content h2 {
  font-size: clamp(2.074rem, 1.707rem + 0.9175vw, 2.441rem);
  margin-top: 2rem;
}

.content h3 {
  font-size: clamp(1.728rem, 1.503rem + 0.5625vw, 1.953rem);
  margin-top: 1rem;
}

.content h4 {
  margin-top: 1rem;
}

.content p, .content pre {
  margin-top: 1rem;
}

ul, ul li {
  margin-top: 1rem;
  line-height: 1rem;
}