:root {
  --font-body: 'Open Sans', Helvetica, Arial, sans-serif;

  --color-white: #fff;
  --color-black: #333333;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-green-100: hsl(96 75% 95%);
  --color-green-200: hsl(96 75% 82.5%);
  --color-green-300: hsl(96 75% 70%);
  --color-green-400: hsl(96 75% 60%);
  --color-green-500: hsl(96 75% 50%);
  --color-green-600: hsl(96 75% 40%);
  --color-green-700: hsl(96 75% 30%);
  --color-green-800: hsl(96 75% 17.5%);
  --color-green-900: hsl(96 75% 7.5%);

  --color-purple-500: hsl(267, 63%, 55%);
}

:root {
  color-scheme: light;
  --theme-text: var(--color-gray-800);
  --theme-text-light: var(--color-gray-600);
  --theme-background: var(--color-white);
  --theme-font: var(--font-merriwather);
  --theme-primary: var(--color-green-600);
  --theme-secondary: var(--color-purple-500);
  --theme-heading: var(--color-gray-600);
  --theme-toggle-light: var(--color-gray-200);
  --theme-toggle-dark: var(--color-gray-800);
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --theme-text: var(--color-white);
  --theme-text-light: var(--color-gray-200);
  --theme-background: var(--color-black);
}
