---
import '@/styles/theme.css'
import '@/styles/blog.css'
import { getPosts } from '@/utils'
import BaseHead from '@/components/BaseHead.astro'
import BlogWidgets from '@/components/BlogWidgets.astro'
import BlogList from '@/components/BlogList.astro'

const title = 'Tags - Guilherme Nicolini Blog'
const description = 'Guilherme Nicolini Blog'
const url = 'https://guilhermenicolini.com.br'

const allMarkdownPosts = await Astro.glob<any>('../**/*.mdx')
const posts = getPosts(allMarkdownPosts)
---

<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
<head>
  <BaseHead {title} {description} {url} />
</head>
<body>
  <BlogWidgets />
  <BlogList allPosts={posts} posts={[]} />
</body>
</html>
