---
import BlogTag from '@/components/BlogTag.astro'
import { TagModel } from '@/models'
interface Props {
  allTags: TagModel[]
}

const { allTags } = Astro.props
const { tag: selected } = Astro.params

const currentTag = allTags.find(tag => tag.slug === selected)
if (currentTag != null) currentTag.selected = true
---
<div class="tags">
  { allTags.map(tag => <BlogTag tag={tag} />)}
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
  }
</style>
