<header class="header">
  <h1 class="text">
    <a href="/" title="">Guilherme Nicolini Blog</a>
  </h1>
  <button id="language"></button>
</header>

<style>
  .header {
    text-align: center;
  }

  .header::before {
    z-index: 10;
    content: '';
    display: block;
    height: 0.3em;
    background-color: var(--theme-primary);
    position: relative;
    top: 0;
    right: 0;
  }

  .text {
    font-size: 3rem;
    color: var(--theme-primary);
  }

  #language {
    position: fixed;
    display: block;
    top: 1rem;
    right: 1rem;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid var(--theme-toggle-color);
    background-color: var(--theme-toggle-background);
    color: var(--theme-toggle-color);
    cursor: pointer;
  }
</style>
