<header class="s-header">
    <div class="row">
        <div class="s-header__content column">
            <div class="s-header__brand">
                <h1 class="s-header__logotext">
                    <a href="/" title="">Guilherme Nicolini Blog</a>
                </h1>
            </div>
        </div>
    </div>
</header>
