---
const { title, url } = Astro.props
---

<!-- Header
================================================== -->
<header class="s-header">

    <div class="row">
        <div class="s-header__content column">
            <div class="s-header__brand">
                <h1 class="s-header__logotext">
                    <a href={url} title="">{title}</a>
                </h1>
                <p class="s-header__tagline">Put your awesome tagline here.</p>
            </div>
        </div>
    </div>

</header>

<!-- Content
================================================== -->
<div class="s-content">

    <div class="row">

      <div id="sidebar" class="s-content__sidebar large-12 column">

        <div class="widget widget--search">
          <h3 class="h6">Search</h3>
          <form action="#0">
              <input type="text" value="Search here..." onblur="if(this.value == '') { this.value = 'Search here...'; }" onfocus="if (this.value == 'Search here...') { this.value = ''; }" class="text-search">
              <input type="submit" value="" class="submit-search">
          </form>
        </div>

        <div class="widget widget_tags">
            <div class="tagcloud group">
                <a href="#0">Corporate</a>
                <a href="#0">Onepage</a>
                <a href="#0">Agency</a>
                <a href="#0">Multipurpose</a>
                <a href="#0">Blog</a>
                <a href="#0">Landing Page</a>
                <a href="#0">Resume</a>
            </div>
        </div>

    </div> <!-- end sidebar -->

        <div id="main" class="s-content__main large-12 column">

            <article class="entry">

                <header class="entry__header">

                    <h2 class="entry__title h1">
                        <a href="single.html" title="">Hey, We Love Open Sans!</a>
                    </h2>

                    <div class="entry__meta">
                        <ul>
                            <li>July 12, 2019</li>
                            <li><a href="#0" title="" rel="category tag">Ghost</a></li>
                            <li>John Doe</li>
                        </ul>
                    </div>

                </header>

                <div class="entry__content">
                  <p>
                    Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi
                    est eu exercitation incididunt adipisicing <a href="/" title="" rel="category tag">Leia mais</a>
                  </p>
                </div>

            </article> <!-- end entry -->

            <article class="entry">

                <header class="entry__header">

                    <h2 class="entry__title h1">
                        <a href="single.html" title="">We Need Better Web Typography.</a>
                    </h2>

                    <div class="entry__meta">
                        <ul>
                            <li>July 11, 2019</li>
                            <li>
                                <a href="#0" title="" rel="category tag">Wordpress</a>,
                                <a href="#0" title="" rel="category tag">Ghost</a>
                            </li>
                            <li>Jane Doe</li>
                        </ul>
                    </div>

                </header>

                <div class="entry__content">
                  <p>
                    Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi
                    est eu exercitation incididunt adipisicing <a href="/" title="" rel="category tag">Leia mais</a>
                  </p>
                </div>

            </article> <!-- end entry -->

            <article class="entry">

                <header class="entry__header">

                    <h2 class="entry__title h1">
                        <a href="single.html" title="">White Space Everywhere.</a>
                    </h2>

                    <div class="entry__meta">
                        <ul>
                            <li>July 10, 2019</li>
                            <li>
                                <a href="#0" title="" rel="category tag">Joomla</a>,
                                <a href="#0" title="" rel="category tag">Drupal</a>
                            </li>
                            <li>Naruto Uzumaki</li>
                        </ul>
                    </div>

                </header>

                <div class="entry__content">
                  <p>
                    Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi
                    est eu exercitation incididunt adipisicing <a href="/" title="" rel="category tag">Leia mais</a>
                  </p>
                </div>

            </article> <!-- end entry -->

            <article class="entry">

                <header class="entry__header">

                    <h2 class="entry__title h1">
                        <a href="single.html" title="">Simple And Minimalist Designs.</a>
                    </h2>

                    <div class="entry__meta">
                        <ul>
                            <li>July 09, 2019</li>
                            <li>
                                <a href="#0" title="" rel="category tag">Ghost</a>
                            </li>
                            <li>Naruto Uzumaki</li>
                        </ul>
                    </div>

                </header>

                <div class="entry__content">
                  <p>
                    Duis ex ad cupidatat tempor Excepteur cillum cupidatat fugiat nostrud cupidatat dolor sunt sint sit nisi
                    est eu exercitation incididunt adipisicing <a href="/" title="" rel="category tag">Leia mais</a>
                  </p>
                </div>

            </article> <!-- end entry -->

        </div> <!-- end main -->

    </div> <!-- end row -->

</div> <!-- end content-wrap -->

<!-- Footer
================================================== -->
<footer class="s-footer">

    <div class="row s-footer__bottom">

      <div class="ss-copyright">
            <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
        </div>

    </div> <!-- end footer__bottom -->

</footer> <!-- end Footer-->
