---
import { PostModel } from '@/models'
import BlogTags from '@/components/BlogTags.astro'
import BlogPreview from '@/components/BlogPreview.astro'
import { getTags } from '@/utils'

interface Props {
  allPosts: PostModel[]
  posts: PostModel[]
}

const { allPosts, posts } = Astro.props
const tags = getTags(allPosts)
---
<div class="wrapper">
  <BlogTags allTags={tags} />
  <section class="blog-list">
    { posts.map(post => <BlogPreview {...post} />) }
  </section>
</div>

<style>
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 100ch;
  }

  .blog-list {
    margin-top: 5rem;
  }
</style>
