---
import '@/styles/theme.css'
import '@/styles/blog.css'
import BaseHead from '@/components/BaseHead.astro'
import BlogWidgets from '@/components/BlogWidgets.astro'
import { getLanguage } from '@/utils'

interface Props {
  title: string
  description: string
  url: string
}

const language = getLanguage(import.meta.env.LOCALE)

const { title, description, url } = Astro.props
---

<!DOCTYPE html>
<html lang={language}>
<head>
  <BaseHead {title} {description} {url} />
</head>
<body>
  <BlogWidgets />
  <slot />
</body>
</html>

<script>
  const theme = getTheme()
  const html = document.documentElement

  html.setAttribute('data-theme', theme)

  function getTheme() {
    return localStorage.getItem('theme') ?? 'dark'
  }

  const button = document.getElementById('language')
  button?.addEventListener('click', () => {
    const toggleTo = getTheme() === 'dark' ? 'light' : 'dark'
    html.setAttribute('data-theme', toggleTo)
    localStorage.setItem('theme', toggleTo)
  })
</script>
